body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 23, 109);
    padding: 0 20px;
}

h1 {
    color: azure;
}

.mainNavList {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    
}

.mainNavList li {
    list-style: none;
}

.mainNavList li a {
    text-decoration: none;
    color: azure;
}

.mainNavList li a:hover {
    color: goldenrod;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
}

.banner img {
    height: 175px;
    width: 350px;
}

.banner h3 {
    padding-right: 40px;
    color: rgb(36, 23, 109);
}

#aboutMe {
    display: flex;
    justify-content: center; 
    padding: 40px 20px;
}

#aboutMe h2 {
    border-right: 5px solid rgb(36, 23, 109);
    padding-right: 10px;
    width: 120px;
    font-size: 2rem;
}

#aboutMe p {
    width: 70%;
    height: 100px;
    padding: 10px 0 0 50px;
}

#work {
    display: flex;
    justify-content: center; 
    padding: 40px 20px;
}

#work h2 {
    border-right: 5px solid goldenrod;
    width: 120px;
    padding-right: 10px;
    font-size: 2rem;
}

.contentProjects {
    width: 70%;
    padding: 10px 0 0 50px;
}

.contentProjects h4 {
    background-color: rgb(36, 23, 109);
    color: goldenrod;
    width: 180px;
    padding: 20px 0 20px 20px;
}

.mainProject img {
    width: 100%;
    padding-top: 20px;
}

.secondaryProject {
    display: flex;
    flex-wrap: wrap;
}

#secondaryProjects {
    width: 50%;
}

#secondaryProjects img {
    width: 99%;
    padding-top: 20px;
}


.contactMe {
    display: flex;
    justify-content: center;
    padding: 40px 20px 0;
}

.contactMe h2 {
    border-right: 5px solid rgb(36, 23, 109);
    width: 120px;
    padding-right: 10px;
    font-size: 2rem;
}


#contactMeList {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 100px;
    padding: 10px 0 0 50px;
}

#contactMeList li {
    list-style: none;
}

#contactMeList li a {
    text-decoration: none;
    color: black;
}

#contactMeList li a:hover {
    color: goldenrod;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }